language: go
go:
  - master
  - 1.x
  - 1.16.x
  - 1.17.x

sudo: false

before_install:
  - if ! go install code.google.com/p/go.tools/cmd/cover; then go install golang.org/x/tools/cmd/cover; fi
  - go install -v github.com/axw/gocov/gocov@latest
  - go install -v github.com/mattn/goveralls@latest
  - go test ./...

install:
  - go install ./...

script:
  - unidecode -V
  - unidecode abc
  - echo "abc" | unidecode
  - echo "abc" > abc.txt && unidecode < abc.txt
  - go test ./...
  - $HOME/gopath/bin/goveralls -service=travis-ci -v -package .
