language: go
go:
  - master
  - 1.x
  - 1.16.x
  - 1.17.x

sudo: false

before_install:
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - which goveralls

install:
  - go get .
  - go get ./unidecode

script:
  - unidecode -V
  - unidecode abc
  - echo "abc" | unidecode
  - echo "abc" > abc.txt && unidecode < abc.txt
  - $HOME/gopath/bin/goveralls -service=travis-ci
